.analytics-section {
  flex-flow: column;
  display: flex;
  height: calc(100vh - 100px);
  flex-grow: 1;
}

.customers-insights {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--mid_shadow);
  width: max-content;
  display: flex;
  padding: 37.5px;
}

.insights {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid #e9ebf1;
  margin-right: 25px;
}

.insights-name {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
  margin-bottom: 12.5px;
  min-width: 125px;
}

.insights-value {
  color: var(--black);
  font-size: 28px;
  line-height: 24px;
  font-weight: 500;
}

.revenue-insights {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--mid_shadow);
  display: flex;
  padding: 25px;
  flex-flow: row;
  flex-wrap: wrap;
  width: calc(100% - 50px);
  margin: 0 0 25px 0;
}

.revenue-canvas {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--mid_shadow);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px;
  width: calc(100% - 50px);
  flex-grow: 1;
  height: 150px;
  position: relative;
}

.net-revenue-canvas {
  display: block;
}

.div {
  height: calc(100% - 50px);
  width: 100%;
}

.insights-icon {
  font-size: 12px;
  margin-right: 8px;
  color: var(--black);
  opacity: 0.5;
  width: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stats-pills {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: space-between;
}

.pill {
  display: flex;
  align-items: center;
}

.none {
  display: none;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-insights-name {
  color: var(--black);
  font-weight: 600;
  opacity: 0.6;
  font-size: 16px;
}

.customers-insights-value {
  color: var(--black) !important;
  opacity: 1 !important;
  margin-left: auto;
  font-weight: 600;
  padding-left: 25px;
}

.graph-title {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.graph-top {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.sync-btn {
    padding: 5px 8px 5px 8px;
    font-size: 12px;
    margin: 0;
}

.sync-btn-icon {
    font-size: 10px;
    margin-left: 5px;
}

.spin {
    transform: rotate(360deg);
    transition: transform .75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .25s;
}

.switch-container {
    display: flex;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.year-long {
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    margin-right: 12.5px;
}

@media only screen and (max-width: 1400px) {
  .insights-value {
    font-size: 18px;
  }

  .insights-name {
    font-size: 14px;
  }

  .customers-insights-name {
    font-size: 14px;
  }

  .insights {
    margin-right: 12.5px;
  }
}

@media only screen and (max-width: 1280px) {
  .analytics-section {
    height: 100% !important;
  }

  .insights {
    margin-right: 12.5px;
    width: max-content;
    border: none;
  }
}
