.dashboard-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: row;
  overflow-x: hidden;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(76, 70, 110, 0.075);
  z-index: 999;
  width: calc(100vw - 50px);
  padding: 0 25px 0 25px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  height: 50px !important;
}

/*Dashboard left*/
.dashboard-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(30% - 100px);
  padding: 50px;
  min-height: calc(100vh - 100px);
  box-shadow: var(--mid_shadow);
  background-color: #fff;
  position: relative;
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.dashboard-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: calc(100vh - 100px);
  pointer-events: all;
}

.dashboard-logo-container {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.dashboard-logo {
  object-fit: cover;
  height: 80px;
  width: auto;
  pointer-events: none;
}

.dashboard-nav {
  margin-top: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.signout-btn {
  position: relative;
}

.dashboard-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  width: max-content;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard-nav-icon {
  margin-right: 8px;
  width: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: hsl(204, 20%, 42%);
  transition: all 0.15s ease-in-out;
}

.dashboard-link {
  color: hsl(204, 20%, 25%);
  padding: 12.5px 0 12.5px;
  width: auto;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.dashboard-link:hover {
  color: var(--orange);
}

.dashboard-link:hover > i {
  color: hsl(29, 64%, 50%) !important;
}

.ham {
  width: 25px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.line {
  height: 2px;
  border-radius: 8px;
  width: 100%;
  background-color: var(--black);
}

.active-link {
  color: var(--orange);
}

.active-link-icon {
  color: hsl(29, 64%, 50%) !important;
}

/*Dashboard right*/
.dashboard-right {
  width: 100%;
  min-height: calc(100% - 100px);
  padding: 50px;
  overflow-y: scroll;
  flex-grow: 1;
}

@media only screen and (max-width: 1280px) {
  .dashboard-logo {
    height: 60px;
  }

  .dashboard-section {
    margin-top: 60px;
    background-color: #fff;
  }

  .dashboard-link {
    font-size: 14px;
  }

  nav {
    display: flex;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px 8px 12px;
  }

  .btn-icon {
    font-size: 12px;
  }

  .dashboard-right {
    padding: 0;
    background-color: #fff;
  }

  .dashboard-left {
    height: calc(100vh - 110px);
    padding: 25px;
    transform: translateX(-150%);
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 998;
    opacity: 0;
    width: calc(100vw - 50px);
  }

  .dashboard-logo-container {
    display: none;
  }

  .dashboard-nav {
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .dashboard-nav ul li {
    font-size: 18px;
  }

  .signout-btn {
    font-size: 18px;
  }

  .dashboard-left-container {
    height: calc(100vh - 110px) !important;
  }

  .insights {
    width: 100%;
    margin: 0 0 25px 0;
  }

  .revenue-insights {
    display: grid !important;
    grid-template-columns: 50% 50%;
    padding: 25px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #e9ebf1;
  }

  .revenue-canvas {
    box-shadow: none !important;
    border-radius: none !important;
  }

  .sync-btn-icon {
    margin-left: 0 !important;
  }

  .stats-pills i {
    display: none;
  }

  .sync {
    display: none;
  }

  .stats-pills {
    width: calc(100% - 12.5px) !important;
    padding-right: 12.5px;
  }

  .pill {
    justify-content: space-between !important;
  }

  .customers-insights-value {
    margin: 0 !important;
    padding: 0 !important;
  }

  .year-long {
    display: none;
  }

  .dashboard-left-container {
    height: calc(100vh - 50px);
  }

  .chart-canvas {
    min-width: 355px;
    overflow-x: scroll;
  }
}
