.dashboard-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  flex-flow: row;
  overflow-x: hidden;
}

/*Dashboard left*/
.dashboard-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(30% - 100px);
  padding: 50px;
  min-height: calc(100vh - 100px);
  box-shadow: var(--mid_shadow);
  background-color: #fff;
}

.dashboard-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.dashboard-logo-container {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.dashboard-logo {
  object-fit: cover;
  height: 80px;
  width: auto;
  pointer-events: none;
}

.dashboard-nav {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.dashboard-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard-nav-icon {
  margin-right: 8px;
  width: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: hsl(204, 20%, 42%);
  transition: all 0.15s ease-in-out;
}

.dashboard-link {
  color: hsl(204, 20%, 25%);
  padding: 12.5px 0 12.5px;
  width: auto;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.dashboard-link:hover {
  color: var(--orange);
}

.dashboard-link:hover > i {
  color: hsl(29, 64%, 50%) !important;
}

.active-link {
  color: var(--orange);
}

.active-link-icon {
  color: hsl(29, 64%, 50%) !important;
}

/*Dashboard right*/
.dashboard-right {
  width: 100%;
  min-height: calc(100% - 100px);
  padding: 50px;
  flex-grow: 1;
}
