.dashboard-section {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dashboard-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(25% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
}

.dashboard-logo-container {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dashboard-logo {
    object-fit: cover;
    height: 80px;
    width: auto;
}

.dashboard-nav {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.dashboard-nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard-nav-icon {
    margin-right: 8px;
    width: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: hsl(204, 20%, 42%);
}

.dashboard-link {
    color: hsl(204, 20%, 25%);
    padding: 12.5px 0 12.5px;
    width: auto;
    left: 50px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    text-align: left;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
}

.active-link {
    color: var(--orange);
}

.active-link::before {
    content: "";
    height: 25px;
    width: 3px;
    background-color: hsl(29, 64%, 50%);
    border-radius: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50px, -50%);
}

.active-link-icon {
    color: 	hsl(29, 64%, 50%) !important;
}
