.focused-order-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.focused-order-top {
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  height: 42px;
}

.ship {
  margin-left: 8px;
  font-size: 12px;
}

.focused-order-back {
  cursor: pointer;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12.5px 10px 12.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  transition: all 0.1s ease-in;
}

.focused-order-back:hover {
  background-color: #e7ebef;
}

.focused-order-back-icon {
  color: var(--black);
  font-size: 14px;
  margin-right: 8px;
  opacity: 0.85;
}

.focused-order-info {
    display: flex;
    padding-bottom: 25px;
}

.focused-order {
  padding: 0 25px 0 25px;
  width: calc(100% - 50px);
}

.focused-order-info-client {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 12.5px;
}

.order-info-summary {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 12.5px;
}

.focused-order-sub-header {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12.5px;
}

.order-bill {
  border-top: 1px solid #e9ebf1;
}