.shop-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--mid_shadow);
  position: relative
}

.shop-top {
  width: calc(100% - 50px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px;
  height: 42px;
}

.search-input {
  margin-right: 12.5px;
  outline: none;
  border: none;
  background-color: #e7ebef;
  color: #526a7a;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 12.5px 10px 12.5px;
}

.search-input:focus::placeholder {
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.shop-content {
  border-top: 1px solid #e9ebf1;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 12.5px 25px 12.5px 25px;
}

.thumbnail {
  width: calc(100% - 25px);
  display: flex;
  margin: 12.5px 0 12.5px 0;
  padding: 12.5px;
  border-radius: 8px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.thumbnail:hover {
  box-shadow: var(--mid_shadow);
}

.thumbnail-image {
  width: 20%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}

.thumbnail-info-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  width: calc(100% - 25px);
}

.thumbnail-text {
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tag {
  font-weight: 400;
  color: hsl(204, 20%, 50%);
  font-size: 14px;
}

.thumbnail-icon {
  color: hsl(204, 20%, 42%);
  font-size: 14px;
}

/* popup */
.new-item-container {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  height: max-content;
  box-shadow: var(--long_shadow);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12.5px;
  animation: popup 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes popup {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 500;
  background-color: rgba(41, 53, 61, 0.432);
  width: 200vw;
  height: 200vh;
  top: 0;
  left: 0;
  cursor: default;
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: opacity 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new-item-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.exit-btn {
  cursor: pointer;
  color: var(--black);
  font-size: 16px;
  padding: 10px 12.5px 10px 12.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  border-radius: 50%;
  transition: all 0.15s ease-in;
  margin: 12.5px;
}

.exit-btn:hover {
  background-color: #e7ebef;
}

.new-item {
  width: calc(100% - 50px);
  display: grid;
  align-items: center;
  grid-template-columns: 25% 75%;
}

.new-item-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-img {
  background-color: #e7ebef;
  color: #526a7a;
  width: 60px;
  height: 60px;
  padding: 25px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 12.5px;
}

.new-item-label {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 12.5px 0 12.5px 0;
}

.path {
  height: 100%;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.path-input {
  margin-top: 0 !important;
  width: 100%;
}

.new-item-input {
  margin: 12.5px 0 12.5px 25px;
  outline: none;
  border: none;
  background-color: #e7ebef;
  color: #526a7a;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 12.5px 10px 12.5px;
}

.add-item-btn {
  margin: 37.5px 0 12.5px 0;
}

.new-item-img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin-bottom: 12.5px;
}

.section-loading {
  height: 100%;
}
