.orders-section {
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--mid_shadow);
}

.orders-loading {
  height: calc(100vh - 100px);
  padding: 0;
}

.orders {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 

.orders-filter {
  padding: 25px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #e9ebf1;
  height: 42px;
}

.orders-filter-label {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.orders-select {
  margin-right: 12.5px;
  outline: none;
  border: none;
  background-color: var(--gray);
  color: var(--input_text);
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 12.5px 10px 12.5px;
}

.last-select {
  margin-right: 0;
}

.filter-btn {
  background-color: var(--black);
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  padding: 10px 12.5px 10px 12.5px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in;
  letter-spacing: 0.35px;
}

.filter-btn:hover {
  opacity: 0.85;
}

.filter-btn-icon {
  color: #fff;
  font-size: 10px;
  margin-left: 8px;
}

/* mapping */

.order {
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
  padding: 12.5px 50px 12.5px 50px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  border-bottom: 1px solid #e9ebf1;
}

.order:hover {
  background-color: var(--off_white);
}

.order-id-container {
  width: 10%;
}

.order-client-info-container {
  width: 75%;
}

.order-info-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-text {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
}

.order-icon {
  font-size: 14px;
  color: hsl(204, 20%, 75%);
  margin-right: 8px;
  width: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.order-icon-right {
    margin-left: 8px;
    margin-right: 0;
    justify-content: flex-end;
}

.order-user {
    display: flex;
    flex-direction: column;
}

.order-user-info {
    display: flex;
    flex-direction: column;
}

.order-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.order-info-quantities {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.order-state {
    font-weight: 600;
    font-size: 16px;
}

@media only screen and (max-width: 1250px) {
  .filter-btn {
    font-size: 12px;
  }
  
  .filter-btn-icon {
    color: #fff;
    font-size: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
 
  #mat-search-input {
    font-size: 12px;
  }

  .orders-filter {
    display: flex;
    justify-content: space-between;
  }
}